<div class="cart-ribbon" id="cart-display-status">Cart Updated</div>
<div class="cart-ribbon" id="cart-display-bulk">Your items have been added to the cart.</div>
<div class="cart-ribbon">
    <div class="added-text cart-ribbon-text">
        <span class="added-variant-title">Variant Title</span>
        has been added to your shopping cart.
        &nbsp;&nbsp;
        <a href="/cart" class="cart-toggle">View Cart</a>
      	{% comment %}
        &nbsp;&nbsp;or&nbsp;&nbsp;
        <a href="/checkout" class="button"> Checkout Now </a>
      	{% endcomment %}
    </div>
    <div class="removed-text cart-ribbon-text">
        <span class="removed-variant-title">Variant Title</span>
        has been removed from your shopping cart.
    </div>
</div>