{% if settings.footer_scripts != "" %}{{settings.footer_scripts}}{% endif %}
{% if settings.footer_snippets_1 != blank %}{% include settings.footer_snippets_1 %}{% endif %}
{% if settings.footer_snippets_2 != blank %}{% include settings.footer_snippets_2 %}{% endif %}
{% if settings.footer_snippets_3 != blank %}{% include settings.footer_snippets_3 %}{% endif %}
{% if settings.footer_snippets_4 != blank %}{% include settings.footer_snippets_4 %}{% endif %}
{% if settings.footer_snippets_5 != blank %}{% include settings.footer_snippets_5 %}{% endif %}

<div id="product-quick-view" class="quick-view-modal reveal-modal" data-reveal aria-labelledby="qv-product" aria-hidden="true" role="dialog" data-options="closeOnBackgroundClick:true;">
    <div class="qv-body">
        <div class="qv-product" id="qv-product"></div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<script type="text/javascript" src="//cdn.nextopia.net/nxt-app/80c356394c27c27aacf41c465e455f7d.js" async></script>
<!-- loqate -->
<script>(function(n,t,i,r){var u,f;n[i]=n[i]||{},n[i].initial={accountCode:"ARBOR11117",host:"ARBOR11117.pcapredict.com"},n[i].on=n[i].on||function(){(n[i].onq=n[i].onq||[]).push(arguments)},u=t.createElement("script"),u.async=!0,u.src=r,f=t.getElementsByTagName("script")[0],f.parentNode.insertBefore(u,f)})(window,document,"pca","//ARBOR11117.pcapredict.com/js/sensor.js")</script>
<!-- Yotpo --> 
<script type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/j6gGtw0T0iIBftyB1zoVJtur9580rgImom1tucVm/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>