<div id="main-content">
    
    <div class="main-content-container" id="main-content-header">
        This is Header Content

        <button type="button" class="button" id="button1">Click Here</button>

        <button type="button" class="button" id="button2">Don't Click Here</button>

        {% if 1 == 2 or 1 == 1 %}
            <button type="button" class="button" id="button3">Just For Fun - {{template}}</button>
        {% endif %}
    </div>

    <div id="main-content-items">

        <div class="main-content-item">
            Item 1
        </div>

        <div class="main-content-item">
            Item 2
        </div>

        <div class="main-content-item">
            Item 3
        </div>

        <div class="main-content-item">
            Item 4
        </div>

        <div class="main-content-item mobile-only">
            Item 5 - Mobile Only
        </div>

        <div class="main-content-item desktop-only">
            Item 6 - Desktop Only
        </div>

        <div class="main-content-item">
            Item 7
        </div>

        <div class="main-content-item">
            Item 8
        </div>

        <div class="main-content-item">
            Item 9
        </div>

        <div class="main-content-item">
            Item 10
        </div>

        <div class="main-content-item">
            Item 11
        </div>

        <div class="main-content-item">
            Item 12
        </div>

    </div>

    <div class="main-content-container" id="main-content-footer">
        This is Footer Content

        <div id="disclaimer">This site is completely useless.</div>
    </div>
    
</div>